---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="A propos de moi"
	description="A propos de moi"
	pubDate={new Date('August 27 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		En cours de rédaction
	</p>
</Layout>
